// app global css in SCSS form

@import url('https://fonts.googleapis.com/css?family=Handlee|Libre+Franklin|Rubik&display=swap');

p {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: 'Libre Franklin', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary;
  outline: none;
  &.router-link-exact-active {
    color: $backgroundColor;
  }
}

.pageWrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: $rootMargin;
}

.pageCard {
  width: 100%;
  padding: $contentMargin;
  z-index: -1;
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
}
