// app global css in SCSS form

.pageCard {
  width: 100%;
  padding: $contentMargin;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $primary;
  outline: none;
  &.router-link-exact-active {
    color: $backgroundColor;
  }
}
