// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$color1: rgba(0, 77, 64, 1);
$color2: rgba(226, 124, 0, 1);
$color3: rgba(0, 181, 102, 1);
$color4: rgba(164, 36, 59, 1);
$color5: rgba(216, 201, 155, 1);

// custom colors
$backgroundColor: #d6d6d6;

// quasar colors;
$primary: #004d40;
$secondary: #00b566;
$accent: #e27c00;

$light: #f5faf5;
$lightDark: #ebf2eb;
$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Material design variables
// $button-border-radius: 10px 2px 10px 2px;

// custom Variables

// _____LAYOUT

// margins
$rootMargin: 1.5vw;
$contentMargin: 3vw;

// breakpoints
$mobile: 414px;
$tablet: 960px;
$desktop: 1200px;

// _____NAVIGATION

// header

$headerHeight: 72px;
$headerMinHeight: 72px;
$headerExtendedHeight: 120px;
// bottomNav
$bottomNavHeight: 72px;
$bottomNavMinHeight: 54px;

// footer
$footerHeight: 270px;
$footerBottomHeight: 27px;

// contactButton
$contactButtonHeight: 72px;

// Contact

$fullScreenModalLeft: $contentMargin;
$fullScreenModalWidth: calc(100vw - 2 * #{$contentMargin});

$fullScreenModalBottom: $contentMargin;
$fullScreenModalBottomMobile: calc(#{$contentMargin} + #{$bottomNavHeight});

$fullScreenModalTop: calc(#{$contentMargin});

$fullScreenModalTopMobile: calc(#{$contentMargin});
